{% extends 'layout.html.twig' %}
{% block title %}

    {{ parent() }} - Accueil

{% endblock %}
{% block content %}

    <h1 class="h1 text-center bg-light">Welcome {{name}}</h1>
    {% include "component/_navbar.html.twig" %}
{% endblock %}