{% extends 'layout.html.twig' %}

{% block content %}{{ parent() }} -

    <h1>Display of products</h1>
    <table>
        {% for row in products|batch(3, 'No item') %}
            <tr>
                {% for column in row %}
                    <td>{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
